#context-title {
  font-style: italic;
  color: gray;
  letter-spacing: 1px;
}

#printing-output>h3{
  color: midnightblue;
  margin-left: 10px;
  margin-top: 50px;
}

#category-list {
  padding-left: 34px;
}

#project-list,
#task-list{
  padding-left: 43px;
  margin-left: -20px;
  border-left: solid 2px gainsboro;
}

#category-list>li{
  padding-bottom: 10px;
}

#project-list> li{
  padding-top: 6px;
}

#task-list {
  padding-bottom: 4px;
  margin-bottom: 4px;
}

#task-list>li{
  padding-top: 4px;
}


#printing-output {
  font-family: monospace;
  white-space: nowrap;
}

#task-data {
  color: gray;
}

#task-data span {
  color: maroon;
}

li::marker {
  color: black;
}

#project-title {
  font-size: 14px;
}

#project-title::after{
  content: ' (project)';
}

#category-title {
  font-size: 15px;
}

.category-data,
.project-data {
color: silver;
margin: 3px 0px;
}

.project-data {
  margin: 0px 0px 4px;
  font-size: 10px;
}

.category-data>span,
.project-data>span {
  color: gray;
}

#category-title::after {
  content: ' (category)';
}

#project-title::after,
#category-title::after {
  font-weight: normal;
  font-size: 10px;
  color: gray;
}

#category-title,
#project-title,
#task-title{
  font-weight: bold;
  color: darkslategray;
}

.notes-label {
  margin: 2px 0px;
  margin-left: -24px;
  color: gray;
}

#note-list {
  font-size: 12px;
  color: darkgray;
  margin-bottom: 4px;
}

#note-list>li>span {
  color: cornflowerblue;
}


